@model Zaposlenici

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="IdZaposlenika"></label>
        <input asp-for="IdZaposlenika" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="IdOdjela"></label>
        <div><span asp-validation-for="IdOdjela" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdOdjela" asp-items="ViewBag.Odjeli">
            <option selected value="" disabled>Odaberite odjel</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdOsobe"></label>
        <div><span asp-validation-for="IdOsobe" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdOsobe" asp-items="ViewBag.Osobe">
            <option selected value="" disabled>Odaberite osobu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="RadniStaz"></label>
        <input asp-for="RadniStaz" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>