@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 >Pronađimo savršen auto za vas</h1>

            <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Lokacija preuzimanja</label>
    <div class="col-10">
        <input size="15" class="form-control" placeholder="grad, zračna luka, stanica..." type="text" id="lokacija">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Datum preuzimanja:</label>
    <div class="col-10">
        <input class="form-control" type="datetime-local" value="2020-08-19T13:45:00" id="example-datetime-local-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Datum povrata:</label>
    <div class="col-10">
        <input class="form-control" type="datetime-local" value="2020-08-19T13:45:00" id="example-datetime-local-input">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Traži</button>
</div>

	



