@model IEnumerable<Kategorije>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 >Pronađimo savršen auto za vas</h1>
    <br/><br/>
    <div>
        <form asp-controller="Kategorije" asp-action="Show" method="get">
            <select name="id" asp-items="ViewBag.Kategorije" class="form-control">
                <option value="" disabled selected class="justify-content-center">Odaberi kategoriju</option>
                @foreach (var kat in Model)
                {
                    <option class="justify-content-center" value="@kat.IdKategorije">@kat.Naziv</option>
                }
            </select>
            <br/>
            <button type="submit" class="btn btn-primary btn-block">Go</button>
        </form>
    </div>
</div>

	



