@model Specifikacije

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="IdSpecifikacija"></label>
        <input asp-for="IdSpecifikacija" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="KonjskeSnage"></label>
        <input asp-for="KonjskeSnage" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="IdMjenjaca"></label>
        <div><span asp-validation-for="IdMjenjaca" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdMjenjaca" asp-items="ViewBag.Mjenjaci">
            <option selected value="" disabled>Odaberite Mjenjac</option>
        </select>
    </div>
    <div class="form-group">
        <label>Boja</label>
        <div><span asp-validation-for="IdBoje" class="text-danger"></span></div>
        <input class="form-control" data-autocomplete="boje"
               data-autocomplete-placeholder-name="nazivboje"
               value="" />
        <input type="hidden" asp-for="IdBoje" data-autocomplete-placeholder="nazivboje" />
    </div>
    <div class="form-group">
        <label asp-for="IdDodatneOpreme"></label>
        <div><span asp-validation-for="IdDodatneOpreme" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdDodatneOpreme" asp-items="ViewBag.DodatnaOprema">
            <option selected value="" disabled>Odaberite Dodatnu opremu</option>
        </select>
    </div>
    <div class="form-group">
        <label>Gorivo</label>
        <div><span asp-validation-for="IdVrsteGoriva" class="text-danger"></span></div>
        <input class="form-control" data-autocomplete="vrstegoriva"
               data-autocomplete-placeholder-name="nazivgoriva"
               value="" />
        <input type="hidden" asp-for="IdVrsteGoriva" data-autocomplete-placeholder="nazivgoriva" />
    </div>
    <div class="form-group">
        <label asp-for="VelicinaTankaULitrima"></label>
        <input asp-for="VelicinaTankaULitrima" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Potrosnja"></label>
        <input asp-for="Potrosnja" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section styles{
    <link rel="stylesheet" href="~/lib/jquery-ui-npm/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jquery-ui-npm/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js"></script>

}