@model Profili

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="IdProfila"></label>
        <input asp-for="IdProfila" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="IdZaposlenika"></label>
        <div><span asp-validation-for="IdZaposlenika" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdZaposlenika" asp-items="ViewBag.Zaposlenici">
            <option selected value="" disabled>Odaberite zaposlenika</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>