@model Kategorije
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 >@Model.Naziv</h1>
    
    <div>
        <form asp-controller="Usluge" asp-action="Show" method="get">
            <select name="id" class="form-control">
                <option value="" disabled selected class="justify-content-center">Odaberi uslugu</option>
                @foreach (var u in ViewBag.Usluge)
                {
                    <option class="justify-content-center" value="@u.IdUsluge">@u.NazivUsluge</option>
                }
            </select>
            <button type="submit" class="btn btn-block btn-primary">Go</button>
        </form>
    </div>
</div>